.card-spotlight {
  background-color: rgb(from var(--color-main-black) r g b / 0.5);
  --mouse-x: 50%;
  --mouse-y: 50%;
  --spotlight-color: rgb(255, 0, 0);
}

.card-spotlight::before {
  content: '';
  position: absolute;
  border-radius: 1rem;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(circle at var(--mouse-x) var(--mouse-y), var(--spotlight-color), transparent 80%);
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.card-spotlight:hover::before,
.card-spotlight:focus-within::before {
  opacity: 0.6;
}
